.hljs-keyword {
    color: rgb(0, 150, 200);
    font-weight: bold;
}

.hljs-number,
.hljs-string,
.hljs-literal {
    color: rgb(200, 0, 200);
}

.hljs-comment {
    color: rgb(120, 120, 120);
}

.hljs-type,
.hljs-built_in {
    color: rgb(130, 180, 0);
    font-weight: bold;
}

.hljs-meta .hljs-keyword,
.hljs-attribute {
    color: rgb(200, 150, 0);
    font-weight: bold;
}

.hljs-non-terminal {
    color: rgb(150, 0, 100);
    text-decoration: underline;
}
